.homeCard {
  width: 300px;
  height: 200px;
  border: 2px solid #89f336;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  font-weight: bolder;
}

.homeCard:hover {
  background-color: #89f336;
  cursor: pointer;
  color: rgb(7, 7, 7);
}
.homeCard:active,
.homeCard:focus {
  border-color: gray;
  background-color: #caecae;
  color: #213547;
}

.card {
  padding: 1rem;
  /*background-color: var(--white-cyna);*/
  background-color: var( --non-photo-blue);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  font-size: 0.95rem;
  color: #333;
  width: 60%;
  border: .1rem solid var(--honolulu-blue);
}
.card svg {
  font-size: 3rem;
}

.card .name {
  font-size: 0.rem;
  color:var(--honolulu-blue);
  font-weight: 700;
}
.card:hover {
  cursor: pointer;
}

/* Hero cards */
.HeroCards {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.benefits{
  list-style: none;
}

/* Responsive */
@media (max-width: 768px) {
.card{
    width: 100%;
    padding: .2rem;
}
}
