.main{
    height: auto;
    margin-top:70px;
    background-color: var(--light-cyan);
}

/* Hero Section */
.hero {
  margin: 0 auto 3rem auto;
  padding: 4rem 2rem;
  text-align: center;


  color: var(--honolulu-blue);

}
.hero p {
  max-width: 750px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--federal-blue);
}
.heroTitle {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 1rem;
  letter-spacing: -0.5px;
}

.heroSubtitle {
  font-size: 1.25rem;
  max-width: 700px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.9);
}

.highlight {
  font-weight: 900;
  color: var(--federal-blue); /* AWS green */
}

/* Card Grid */
.homehero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  margin: 3rem 2rem;
}
.cardsSection {
  display: flex;
  justify-content: center;

  gap: 2rem;
  margin: 2rem 1rem;
}
/* PRICING */
.pricingTitle{
    display: flex;
    flex-direction: row;
}

/* Responsive */
@media (max-width: 768px) {
  .cardsSection{
    flex-direction: column;
  }
}
