@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --black-color: rgba(14, 14, 14, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --federal-blue: #03045eff;
  --honolulu-blue: #0077b6ff;
  --pacific-cyan: #00b4d8ff;
  --non-photo-blue: #90e0efff;
  --light-cyan: #dff6fb;
  --white-cyna: #ffffff;
}

a {
  font-weight: 500;
  color: #0c0c0c;
  text-decoration: inherit;
}
a:hover {
  color: #66f253;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #e8f1ff, #f9fbfd);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.2rem;
  border: 1px solid transparent;
  padding: 0.9rem 3rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #89f336;
  color: #0c0c0c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #f7f8f7;
  border: 0.2px solid #89f336;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #89f336;
  }
  button {
    background-color: #89f336;
    color: #0c0c0c;
  }
  button:hover {
    background-color: #ffffff;
    border: 0.2px solid #89f336;
  }
}
